body, html {
    height: 100%;
    width: 100%;
}

body, html, #map_canvas, #timeline {
    margin: 0;
    padding: 0;
}

#map_canvas {
    position: relative;
    height: 90%;
    width: 100%;
}

#timeline {
    height: 10%;
    width: 100%;
    overflow: hidden;
}